<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Family Members</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<nav>
  <table>
  <tr>
    <td><a href="/Rajesh">Rajesh</a></td>
    <td><a href="/Asha">Asha</a></td>
    <td><a href="/Sahil">Sahil</a></td>
    <td><a href="/Yashika">Yashika</a></td>
  </tr>
  </table>
</nav>

