<% include ./partials/header.ejs %>

<h1> My mother is a housewife and her hobby is cooking. She can read my mind when i think about something.</h1>

<img src="/images/5d10d87e-031e-4c29-86e5-347b77ff4acd.jpg" alt=" " style="width:300px;height:300px;">

<% include ./partials/footer.ejs%>