<% include ./partials/header.ejs %>

<h1> My father is a business man and his hobby is painting. He is passionate towards travelling and adventures.</h1>

<img src="/images/26e4445a-d465-4c9c-8454-3b4e13262d59.jpg" alt=" " style="width:300px;height:300px;">

<% include ./partials/footer.ejs%>
