<% include ./partials/header.ejs %>

<h1> My name is Sahil Verma, i am studying in Georgian College. I want to become something in my life so that my parents can feel proud of me. </h1>

<img src="/images/IMG_0985.jpg" alt=" " style="width:500px;height:300px;">

<% include ./partials/footer.ejs%>