<% include ./partials/header.ejs %>

<h1> My name is Sahil Verma, i am studying in Georgian College. I want to become something in my life so that my parents can feel proud of me. </h1>

<% include ./partials/footer.ejs%>