<% include ./partials/header.ejs %>

<h1> My sister is studying in 10th grade and she wants to become a fashion designer. She is very naughty, pretty and cute. </h1>

<% include ./partials/footer.ejs%>