<% include ./partials/header.ejs %>

<h1> My sister is studying in 10th grade and she wants to become a fashion designer. She is very naughty, pretty and cute. </h1>

<img src="/images/WhatsApp-Image-20160616.jpg" alt=" " style="width:200px;height:200px;">

<% include ./partials/footer.ejs%>